@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom companion styles */
.companion-app-root {
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #010a13;
}

::-webkit-scrollbar-thumb {
  background: #1e282d;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #785a28;
}
